<!-- profiles-main-view -->
<div class="profiles-container">
    <ul class="list-inline">
        <li data-ng-repeat="profile in profilesModel.getProfiles()"
            class="profile-container">
            <span class="profile-header-container">
                <span class="profile-image-container">
                    <img data-ng-src="{{profile.image.source}}"
                         alt="{{profile.image.alt | ProfilesImageAltText:profile.FirstName:profile.LastName}}"
                         title="{{profile.image.alt | ProfilesImageAltText:profile.FirstName:profile.LastName}}" />
                </span>
                <span class="profile-header">
                    <h2 class="profile-name">{{profile.FirstName}}<br>{{profile.LastName}}</h2>
                    <span class="profile-links">
                        <ul class="list-inline">
                            <li data-ng-repeat="link in profile.data.links">
                                <a href="{{link.url}}"
                                   target="_blank">{{link.text}}</a>
                            </li>
                        </ul>
                    </span>
                </span>
            </span>
            <span class="profile-definition">
                <div data-ng-show="profile.data.blurb">
                    <h3 class="profile-definition-section">OVERVIEW</h3>
                    <span class="profile-blurb">
                        <p data-ng-bind-html="profile.data.blurb"></p>
                    </span>
                </div>
                <div data-ng-show="profile.data.skillsMatrix">
                    <h3 class="profile-definition-section">SKILLS</h3>
                    <span class="profile-skills-matrix">
                        <ul class="list-inline">
                            <li data-ng-repeat="Skill in profile.data.skillsMatrix">{{Skill.skill}}</li>
                        </ul>
                    </span>
                </div>
            </span>
        </li>
    </ul>
</div>
<!-- / profiles-main-view -->